input, textarea
  font-family "Roboto", sans-serif
  outline 0
  background #f2f2f2
  width 100%
  border 0
  margin 0 0 15px
  padding 15px
  box-sizing border-box
  font-size 14px

.form-page
  padding 8% 0 0

.form-container
  position relative
  z-index 1
  max-width 360px
  background #ffffff
  margin 0 auto 100px
  padding 45px
  text-align center
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)

  button
    width 100%

  button:hover,
  button:active,
  button:focus
    background theme_light

  .message
    margin 15px 0 0
    font-size 12px

    a
      color theme_dark
      text-decoration none

.error-message
  color #ff0020

.success-message
  color #4f8a10

#create-trip
  .form-container
    max-width 600px

.episodes-form-container
  position relative
  z-index 1
  background #ffffff
  width: 1065px
  margin 0 auto 200px
  padding 45px
  text-align center
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)

  input
    width 765px

  button
    margin-left 15px
    height 50px

  a
    color #fff
    text-decoration none

  .save-btn, .add-btn
    text-align right
    margin-right 0

  .add-btn
    margin-bottom 15px

    span
      color #fff

  .episode-row
    display flex
    width 100%

    input
      width 200px
      margin-right 15px

.input-error
  background-color theme_dark
  margin 5px
  margin-top -5px
  color #fff
  padding 2px
  font-weight 700

.name-error
  width 765px

.episode-error
  width 200px

#description
  flex 1

  input
    width 100%


.participants-form-container
  position relative
  z-index 1
  background #ffffff
  width: 565px
  margin 0 auto 100px
  padding 45px
  text-align center
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)

  input
    width 765px

  button
    margin-left 15px
    height 50px

  a
    color #fff
    text-decoration none

  .save-btn, .add-btn
    text-align right
    margin-right 0

  .add-btn
    margin-bottom 15px

    span
      color #fff

  .participant-row
    display flex
    width 100%

    input
      width 200px
      margin-right 15px

.paragraph-title
  margin-top 0 !important
  background theme_dark
  padding 15px
  color #fff

.temporary-date-input
  background #f2f2f2
  height 50px
  width 92.5px
  margin-right 15px

  .glyphicon
    line-height 45px
    font-size 20px

.form-trash
  background theme_expressive

.form-disk
  background theme_dark
