@import url(https://fonts.googleapis.com/css?family=Roboto:300)
@import 'theme.styl'
@import 'form.styl'
@import 'select.styl'
@import 'dates.styl'
@import 'geosuggest.styl'
@import 'trips.styl'
@import 'profile.styl'
@import 'loader.styl'

body
  background theme_dark
  background -webkit-linear-gradient(right, theme_dark, theme_light)
  background -moz-linear-gradient(right, theme_dark, theme_light)
  background -o-linear-gradient(right, theme_dark, theme_light)
  background linear-gradient(to left, theme_dark, theme_light)
  background-image url(http://www.tabletwallpapers.org/download/nature-lake-and-mountains-4k-hd-wallpaper_3840x2160.jpg)
  font-family "Roboto", sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  padding 0 1rem 1rem 1rem

nav a
  color #ffffff

button
  font-family "Roboto", sans-serif
  text-transform uppercase
  outline 0
  background theme_dark
  border 0
  padding 15px
  color #ffffff
  font-size 14px
  -webkit-transition all 0.3 ease
  transition all 0.3 ease
  cursor: pointer

.main
  position relative
  z-index 1
  background rgba(255, 255, 255, 0.8)
  padding 40px
  max-width 90%
  margin 70px auto 100px
  text-align center
  box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)

.main-color-none
  position relative
  z-index 1
  padding 40px
  max-width 90%
  margin 0 auto 0
  text-align center

h1, h2, h3
  text-align center
  margin-top 0 !important

.content
  position relative
  z-index 1
  background blanchedalmond
  padding 40px
  max-width 90%
  margin 70px auto 100px
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)

.applications-container
  position relative
  z-index 1
  background #ffffff
  margin 0 auto 0
  max-width 95%
  box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)

.application
  min-height 36px

  .glyphicon
    font-size 14px

  table
    width 100%
    border-collapse collapse
    border 1px solid gray

    th, td
      padding 8px

      .btn
        border-radius 0

#date
  width 20%

#username
  width 30%
  min-width 80px

#email
  width 30%
  min-width 140px

#action
  width 20%
  min-width 60px

.loader
  margin 0 auto 0
  border 10px solid #f3f3f3
  border-top 10px solid theme_dark
  border-radius 50%
  width 50px
  height 50px
  animation spin 1s linear infinite
  padding 0

@keyframes spin
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

.loader-little
  margin 0 auto 0
  border 3px solid #f3f3f3
  border-top 3px solid saddlebrown
  border-radius 50%
  width 14px
  height 14px
  animation spin 1s linear infinite
  padding 0

@keyframes spin
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

.margin-top
  margin-top 70px

.left-content
  align-content left
  text-align left

.right-content
  align-content right
  text-align right

.margin-top-1
  margin-top 1.5rem

.margin-top-2
  margin-top 2rem

.margin-bottom-3
  margin-bottom 3rem

.contact-page
  background #ffffff
  min-height 500px

#map-contact
  height 350px

.paragraph
  padding 25px
