@import url(https://fonts.googleapis.com/css?family=Roboto:300)
@import 'theme.styl'
@import 'form.styl'
@import 'select.styl'
@import 'dates.styl'
@import 'geosuggest.styl'

body
  background theme_dark
  background -webkit-linear-gradient(right, theme_dark, theme_light)
  background -moz-linear-gradient(right, theme_dark, theme_light)
  background -o-linear-gradient(right, theme_dark, theme_light)
  background linear-gradient(to left, theme_dark, theme_light)
  background-image url(https://www.colourbox.com/preview/4780316-green-grass-background.jpg)
  font-family "Roboto", sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  padding 0 1rem 1rem 1rem

nav a
  color #ffffff

button
  font-family "Roboto", sans-serif
  text-transform uppercase
  outline 0
  background theme_dark
  border 0
  padding 15px
  color #ffffff
  font-size 14px
  -webkit-transition all 0.3 ease
  transition all 0.3 ease
  cursor: pointer

.main
  position relative
  z-index 1
  background blanchedalmond
  padding 40px
  max-width 90%
  margin 70px auto 100px
  text-align center
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)

h1, h2, h3
  text-align center

.content
  position relative
  z-index 1
  background blanchedalmond
  padding 40px
  max-width 90%
  margin 70px auto 100px
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)

.applications-container
  position relative
  z-index 1
  background #ffffff
  margin 0 auto 0
  max-width 95%
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)

.application
  min-height 36px

  .glyphicon
    font-size 14px

  table
    width 100%
    border-collapse collapse
    border 1px solid gray

    th, td
      padding 8px

#date
  width 20%

#username
  width 30%
  min-width 80px

#email
  width 30%
  min-width 140px

#action
  width 20%
  min-width 60px

.loader
  margin 0 auto 0
  border 10px solid #f3f3f3
  border-top 10px solid theme_light
  border-radius 50%
  width 50px
  height 50px
  animation spin 1s linear infinite
  padding 0

@keyframes spin
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

.margin-top
  margin-top 100px
