.albums-grid
  text-align center

  .album-container
    display inline-block
    position relative
    margin 25px

    a
      display inline-block
      color #fff
      text-decoration none

    .album
      display flex
      box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)
      width 170px
      height 170px
      justify-content center
      align-items center
      background-color theme_yellow

      p
        font-size 25px
        cursor pointer

.btn-default
  border-radius 0
  background-color theme_dark
  color #ffffff
  border 0

.btn-default:hover
  background-color theme_light
