.profile
  min-height 200px
  overflow hidden
  background white

  .column-fixed
    min-width 250px
    max-width 250px
    min-height inherit
    padding 20px
    border solid 1px black

    .avatar-container
      margin-bottom 20px

      img
        width 210px
        height 210px

