.profile
  min-height 200px
  overflow hidden
  background white

  .column-flex
    overflow hidden
    min-height inherit

  .column-fixed
    float left
    min-width 220px
    max-width 220px
    min-height inherit
    padding 20px
    border solid 1px #a9a9a9

    .avatar-container
      margin-bottom 20px

      img
        width 175px
        height 175px

    #name
      font-size 26px
      font-weight 700

    #username
      font-size 18px
      font-weight 500
      color #a9a9a9

    #role
      font-size 24px
      color #808080
      margin 10px 0 10px 0

    .section
      margin 10px 0 10px 0
      padding 10px 0 10px 0
      border-top solid 1px #d9d9d9
      border-bottom solid 1px #d9d9d9

      table
        margin 0 auto

        tr, td
          padding 0 10px 0 10px
          text-align center

    #info
      font-size 24px
      font-weight 700

    #label
      font-size 14px


